
body {
    color: #214d69;
    background-color: #fff9e2;
    font-family: Cambria;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}


section {
    margin: 0;
    padding: 20px 15%;
    overflow: auto;
    text-indent: 20px;
    text-align: justify;
}

.contactsec {
    text-align: center;
}

.odrazky {
    text-align:left;
    display: inline-block; 
    margin-left: -50px;
}

.cover {
    padding: 50px 0 20px 0;
}

.cover img {
    object-fit: cover;
    width: 350px;
    height: 350px;
    border: 10px solid #ffae00;
    border-radius: 50%;
    box-shadow: 0 0 10px #7c490f;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color:#cc7a00;
}

a:hover {
    color:#e9be00;
}

img {
    object-fit: cover;
    width: 300px;
    border: 10px solid #ffae00;
    border-radius: 20%;
    float: left;
    margin: 0 50px 20px 0;
}

.rightsidepic {
    float: right;
    margin: 0 0 20px 50px;
}

h1 {
    color:#a86501;
    text-align: center;
    text-shadow: 0 0 10px #ffc583;
}


h2,
h3,
h4,
h5,
h6 {
    color: #122c3d;
    text-align: center;
    margin: 0;
}



.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e78d06;
}


.menu li {
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
}

.menu a:hover,
.menu a:focus {
    background-color: #faa931;
}


li {
    list-style-position: inside;
}

.paticka {
    background-color: #e78d06;
    color: rgb(241, 227, 189);
    text-align: center;
    font-size: 14px;
    font-family: arial;
    padding: 10px 0;
}